html,
body {
	background-color: #fff;
}

dd {
	margin-left: 30px;
}

#navigation {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	width: 100%;
	height: 60px;
	background-color: #2B6B01;

	-webkit-box-shadow: 0 1px 3px 0 #333;
	box-shadow: 0 1px 3px 0 #333;
}

#navigation > div,
#navigation > a {
	position: absolute;
	font-size: 24px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
}

#navigation .back-button,
#navigation .settings-button {
	z-index: 2;
	width: 60px;
	height: 100%;
}

#navigation .back-button {
	display: none;
	left: 0;
	font-size: 24px;
}

#navigation .back-button img {
	width: 30px;
}

#navigation .back-button.active {
	display: block;
}

#navigation .name {
	z-index: 1;
	width: 100%;
	padding: 0 60px;
}

#navigation .settings-button {
	right: 0;
}

#navigation .settings-button img {
	width: 30px;
}

#content {
	margin-top: 60px;
}

#content h1 {
	text-align: center; 
}

#content p {
	text-align: center; 
	font-size: 30px;
	font-weight: bold;
}


a.button {
	display: block;
	margin: 15px 0;
	height: 120px;
	color: #000;
	text-decoration: none;
	text-align: center;
	line-height: 120px;
	border: #b9b9b9 solid 1px;
	background-color: #dfdfdf;
}

a.button img {
	max-width: 100%;
	max-height: 100px;
	margin: 10px 0;
}

a.button.lamp {
	border: 0;
	background-color: #f39508;
}

a.button.camera {
	border: 0;
	background-color: #085a7c;
}

a.button.hulp {
	border: 0;
	background-color: #fff;
}

/*a.button.lamp:hover,
a.button.camera:hover {*/
a.button:hover {
	border-color: transparent;

	-webkit-box-shadow:inset 0 2px 5px 0 #333;
	box-shadow:inset 0 2px 5px 0 #333;
}

a.button.hulp {
	height: 90px;
	font-size: 36px;
	font-weight: bold;
	color: #f00;
	line-height: 82px;
	border: #f00 solid 4px;
}
a.button.hulp:hover {
	text-decoration: underline;
}

#content form.login {
	text-align: center;
}

#content form.login > label,
#content form.login > input {
	display: block;
	margin: 15px auto;
	font-size: 24px;
}

#content button{
	font-size: 24px;
    width: 100%;  
    height: 5em;
}

#content p.meldingen{
	font-size: 200%;

}
#content button.btn{
	text-align: center;
	width: 100%;
	height: 5em;
	white-space: normal;
}

ul.dropdown-menu {
	width: 100%;
}

ul.dropdown-menu li a {
	text-align: center;
	font-size: 24px;
}

#content h1 {
	margin: 30px 0;
	text-align: center;
	font-size: 30px;
}

#content button.hulpbutton{
	width: 100%;
	height: 5em;
}


table.meldingen td.status ul.options {
	margin: 0;
	padding: 0;
}

table.meldingen td.status ul.options li {
	/*display: none;*/
	list-style: none;
	padding: 7px 15px;
	border: transparent 1px solid;
}

table.meldingen td.status ul.options li.active {
	display: block;
}

table.meldingen td.status ul.options li.line {
	padding: 0;
	height: 2px;
}

table.meldingen .status-open {
	color: #fff;
	background-color: #C81818;
}

table.meldingen .status-closed {
	color: #fff;
	background-color: #18C818;
}